@tailwind base;
@tailwind components;
@tailwind utilities;

/* 定義全域顏色變數 */
:root {
  --main-bg-color: #ddbb9b; /* 主背景色 */
  --background: #ffffff; /* 背景色 */
  --foreground: #171717; /* 字體顏色 */
  --input-focus-color: #724e2c; /* 輸入框聚焦顏色 */
  --button-bg-color: #9c6f44; /* 按鈕背景顏色 */
  --button-hover-bg-color: #c5a782; /* 按鈕懸停背景顏色 */
}

/* 應用全域樣式 */
body {
  background-color: var(--main-bg-color); /* 使用固定的背景色 */
  color: var(--foreground); /* 使用固定的文字色 */
  font-family: Arial, Helvetica, sans-serif;
}
